<div class="container">
	<center><h1>Creación de Libros</h1></center>
	<br />
	<form asp-action="CrearLibros">
		@*Textbox del nombre*@
		<div class="form-group row mb-4">
			<div class="col-sm-2">
				<label>Nombre del Libro</label>
			</div>
		</div>

		<div class="form-group row mb-4">
			<div class="col-sm-4">
				@Html.TextBox("nombre", "", new { @class = "form-control" })
			</div>
		</div>


		@*TextArea*@
		<div class="form-group row mb-4">
			<div class="col-sm-2">
				<label>Descripción</label>
			</div>
		</div>

		<div class="form-group row mb-4">
			<div class="col-sm-4">
				@Html.TextArea("descripcion", "", new { @class = "form-control" })
			</div>
		</div>

		@*Autor, precio y categoria*@
		<div class="form-group row mb-4">
			<div class="col-sm-4">
				<label>Precio</label>
			</div>
			<div class="col-sm-4">
				<label>Autor</label>
			</div>
			<div class="col-sm-4">
				<label>Categoria o genero</label>
			</div>
		</div>

		<div class="form-group row mb-4">
			<div class="col-sm-4">
				@Html.TextBox("precio", "", new { @class = "form-control" })
			</div>

			<div class="col-sm-4">
				@Html.DropDownList("id_autor", ViewData["listadoDeAutor"] as SelectList, "Seleccione un autor", new { @class = "form-control" })
			</div>

			<div class="col-sm-4">
				@Html.DropDownList("id_categoria", ViewData["listadoDeCategoria"] as SelectList, "Seleccione una categoria", new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group row mb-4">
			<div class="col-sm-2"></div>
			<div class="col-sm-4">
				<input type="submit" class="btn btn-primary" value="Guardar" />
			</div>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre del Libro</th>
					<th>Descripcion</th>
					<th>Precio</th>
					<th>Autor</th>
					<th>Categoria</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var libros in (IEnumerable<dynamic>)ViewData["listadoDeLibros"])
				{
					<tr>
						<td>@libros.nombre</td>
						<td>@libros.descripcion</td>
						<td>@libros.precio</td>
						<td>@libros.autor</td>
						<td>@libros.categoria</td>

					</tr>

				}
			</tbody>
		</table>



	</form>
</div>



